body {
  font-family: Arial, sans-serif;
  margin: 0;
  background:#dbe3ff;
  color: black;
}

.container {
  width: 1000px;
  padding: 1rem;
  /* background: white; */

}


h1 {
  text-align: center;
}

.graph-wrapper {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  flex-wrap: wrap; /* Optional: to wrap on smaller screens */
}

.section {
  flex: 1;
  min-width: 300px;
  margin-top: 2rem;
}


.card {
  border: 1px solid #ddd;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 6px;
  background: linear-gradient(135deg, #e1e6f0, #f4f7fb);
  width: 20%;
  color: black;
}
.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: space-between;
  margin-top: 2rem;
}


.success {
  color: green;
}

.warning {
  color: orange;
}

.error {
  color: red;
}

.graph{
  display: flex;
  justify-content: space-around;
  width: 100%;
}